
@font-face {
  font-family: 'whitneybold';
  src: url('./fonts/whitneybold-webfont.woff2') format('woff2'),
       url('./fonts/whitneybold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneybook';
  src: url('./fonts/whitneybook-webfont.woff2') format('woff2'),
       url('./fonts/whitneybook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneybookitalic';
  src: url('./fonts/whitneybookitalic-webfont.woff2') format('woff2'),
       url('./fonts/whitneybookitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneylight';
  src: url('./fonts/whitneylight-webfont.woff2') format('woff2'),
       url('./fonts/whitneylight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneylightitalic';
  src: url('./fonts/whitneylightitalic-webfont.woff2') format('woff2'),
       url('./fonts/whitneylightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneymedium';
  src: url('./fonts/whitneymedium-webfont.woff2') format('woff2'),
       url('./fonts/whitneymedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneymediumitalic';
  src: url('./fonts/whitneymediumitalic-webfont.woff2') format('woff2'),
       url('./fonts/whitneymediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneysemibold';
  src: url('./fonts/whitneysemibold-webfont.woff2') format('woff2'),
       url('./fonts/whitneysemibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneysemibolditalic';
  src: url('./fonts/whitneysemibolditalic-webfont.woff2') format('woff2'),
       url('./fonts/whitneysemibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

::-webkit-scrollbar {
  display: none;
}

html.disable-high-contrast * {
  forced-color-adjust: none;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #201c1c;
  opacity: 0;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      
  }
  100% {
      opacity: 1;
   }
}

#startElem{
  animation: startTrans 3s ease 0s 1 normal forwards;
}

@keyframes startTrans {
  0.0%{
      transform: scale(0) rotate3d(0, 360, 360, 180deg) translate3d(0, 300px, 0);
      border: 3px solid rgba(255, 255, 255, 0);
      border-radius: 50px;
      outline: 10px solid rgba(255, 255, 255, 1);
      padding: 0px 0 0 0;
      margin: 0px 0px;
  }
  25.0%{
      transform: scale(1.5);
      outline: 10px solid rgba(255, 255, 255, 0);
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-radius: 50px;
      padding: 0px 0 0 0;
      margin: 0px 0px;
  }
  75%{
    transform: scale(0) rotate3d(0, 360, 0, 180deg) skew(0);
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 50px;
    outline: 10px solid rgba(255, 255, 255, 1);
    padding: 0px 0 0 0;
    margin: 0px 0px;
  }
}



#bg {
  position: relative;
  top: -75px;
  left: -25px;
  background-color: #850c8b;
  -webkit-text-fill-color: transparent;
  font-size: 130px;
  width: 500px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  animation: posAni ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.pfp {
  transition-duration: 0.3s;
  position: relative;
  top: -200px;
  left: 0px;

  border-radius: 50%;
  border-style: solid;
  border-width: 6px;
  border-color: #201c1c;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  animation: posAni ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.circle {
  transition-duration: 1s;
  position: relative;
  top: -507.5px;
  left: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #201c1c;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  animation: posAni ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform: rotateX(0deg);
}


.divider {
  position: relative;
  top: -455px;
  left: 0px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  animation: posAni ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}



.nickname {
  text-align: left;
  transition-duration: 0.3s;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.01), 0 0 16px 0 rgba(0,0,0,0.05);
  position: relative;
  top: -398px;
  left: 5px;
  font-family: 'whitneymedium';
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 16px;

  animation: posAni ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.username {
  transition-duration: 0.3s;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.01), 0 0 16px 0 rgba(0,0,0,0.05);
  position: relative;
  top: -430px;
  left: 5px;
  font-family: 'whitneybook';
  text-shadow: 2px 2px 2px #0000005d;
  color: #818386;
  font-size: 14px;
  text-align: left;
  animation: posAni ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.client_id {
  transition-duration: 0.3s;
  position: relative;
  top: -90px;
  left: 5px;
  transform: scale(0);
  width: 210px;
  height: 200px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: rgba(0, 0, 0, 0.603);
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 15px;
  text-align: center; 
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.details {
  transform: translateY(0px);
  transition-duration: 0.3s;
  position: relative;
  top: -44px;
  left: 78px;
  transform: scale(0);
  width: 125px;
  height: 200px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: transparent;
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 12px;
  text-align: left; 
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.state {
  transform: translateY(0px);
  transition-duration: 0.3s;
  position: relative;
  top: -46px;
  left: 78px;
  transform: scale(0);
  width: 125px;
  height: 200px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: transparent;
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 12px;
  text-align: left; 
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

#name {
  outline: none;
  border: none;
  background: transparent;
}


#elapsed {
  transition-duration: 0.5s;
  position: relative;
  top: -48px;
  left: 78px;
  transform: scale(0);
  width: 125px;
  height: 200px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: transparent;
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 12px;
  text-align: left; 
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

 
  
}

.paimon {
  position: absolute;
  transition-duration: 0.3s;
  border-radius: 8px;
  left: -80px;
  top: 200px;
  animation: posIn2 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.images {

  position: absolute;
  left: -80px;
  top: 180px;
  border-radius: 50px;
  font-family: 'whitneybold';
  text-transform: uppercase;
  color: #BBBBBB;
  font-size: 12px;
  border: none;
  resize: none;
  outline: none;
  animation: posIn2 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.buttons {
  position: relative;
  top: -40px;
  left: 7px;
  transition-duration: 0.3s;
  color: #fff;
  background-color: #4F545C;
  height: 28px;
  min-height: 28px;
  width: 210px;
  user-select: none;
  outline: 0;
  border: none;
  border-radius: 4px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;

}

.btnTxt1 {
  position: relative;
  transition-duration: 0.3s;
  top: -94px;
  left: 40px;
  transform: scale(0);
  width: 125px;
  height: 160px;
  border: 4px;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: transparent;
  text-align: center;
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.btnTxt2 {
  position: relative;
  transition-duration: 0.3s;
  top: -78px;
  left: 40px;
  align-items: center;
  transform: scale(0);
  width: 125px;
  height: 200px;
  border: 4px;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: transparent;
  text-align: center;
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

#small {
  top: 245px;
  left: -30px;
  transition-duration: 0.3s;
  animation: posIn2 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

#btn2 {
  position: relative;
  top: -30px;
}


.genshin {
  position: absolute;
  font-family: 'whitneybold';
  color: #DCDDDE;
  font-size: 14px;
  top: 198px;
  left: 95px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.cog {
  transition-duration: 0.3s;
  position: absolute;
  top: 280px;
  left: 200px;
  transform:rotateZ(0deg);
  transform: scale(1);

}

#cog1 {
  top: 282.5px;
  animation: posAni2 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 0s;
}

#cog2 {
  top: 321px;
  animation: posAni2 ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 0s;
}

.cog:hover {
  filter: brightness(1.2);
  transform: scale(1.2) rotateZ(90deg);
  cursor: pointer;
}

#box {
  transition-duration: 0.3s;
  position: absolute;
  width: 250px;
  height: 400px;
  background-color: black;
}

.URL {
  position: absolute;
  font-family: 'whitneybold';
  top: 170px;
  left: 25px;
  color: #DCDDDE;
  font-size: 14px;
  width: 200px;
  height: fit-content;
  text-align: center;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}


.paimonTxt {
  position: absolute;
  font-family: 'whitneybold';
  top: 130px;
  left: 25px;
  color: #DCDDDE;
  font-size: 14px;
  width: 200px;
  height: fit-content;
  text-align: center;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}


.smallTxt {
  position: absolute;
  font-family: 'whitneybold';
  top: 130px;
  left: 25px;
  color: #DCDDDE;
  font-size: 14px;
  width: 200px;
  height: fit-content;
  text-align: center;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.btnUrl1 {
  transition-duration: 0.3s;
  position: absolute;
  transform: scale(0);
  top: 200px;
  left: 10px;
  width: 220px;
  height: 25px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: rgba(0, 0, 0, 0.753);
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 15px;
  text-align: center; 
  padding-left: 10px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}


.btnUrl2 {
  transition-duration: 0.3s;
  position: absolute;
  transform: scale(0);
  top: 200px;
  left: 10px;
  width: 220px;
  height: 25px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: rgba(0, 0, 0, 0.753);
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 15px;
  text-align: center; 
  padding-left: 10px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}


.largeImgTxt {
  transition-duration: 0.3s;
  position: absolute;
  transform: scale(0);
  top: 160px;
  left: 5px;
  width: 220px;
  height: 25px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: rgba(0, 0, 0, 0.753);
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 15px;
  text-align: center; 
  padding-left: 10px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}


.largeImgIdt {
  transition-duration: 0.3s;
  position: absolute;
  transform: scale(0);
  top: 200px;
  left: 5px;
  width: 220px;
  height: 25px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: rgba(0, 0, 0, 0.753);
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 15px;
  text-align: center; 
  padding-left: 10px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.smallImgIdt {
  transition-duration: 0.3s;
  position: absolute;
  transform: scale(0);
  top: 200px;
  left: 5px;
  width: 220px;
  height: 25px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: rgba(0, 0, 0, 0.753);
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 15px;
  text-align: center; 
  padding-left: 10px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.smallImgTxt {
  transition-duration: 0.3s;
  position: absolute;
  transform: scale(0);
  top: 160px;
  left: 5px;
  width: 220px;
  height: 25px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: rgba(0, 0, 0, 0.753);
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 15px;
  text-align: center; 
  padding-left: 10px;
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}
#Url1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  left: -5px;

}

#Url2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  left: 0px;
}

#paimonMenu {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  left: 0px;
}

#smallMenu {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  left: 0px;
}

.closeBtn {
  position: absolute;
  transition-duration: 0.3s;
  left: 50px;
  top: 240px;
  color: #fff;
  background-image: linear-gradient(135deg, #eb4bce, #58085c);
  font-size: 12px;
  font-family: 'whitneybold';
  height: 10px;
  min-height: 24px;
  width: 150px;
  user-select: none;
  outline: 0;
  border: none;
  border-radius: 4px;
  transform: scale(0);
  animation: posIn ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  cursor: pointer;
}

.buttons:hover {
  filter: brightness(1.1);
}

.paimon:hover {
  filter: brightness(0.6);
  cursor: pointer;
}

#small:hover {
  filter: brightness(0.6);
  cursor: pointer;
}

@keyframes posIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes posIn2 {
  0% {
    transform: translateX(0px)
  }
  100% {
    transform: translateX(100px)
  }
}


@keyframes posAni {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes posAni2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

