
@font-face {
  font-family: 'whitneybold';
  src: url('./fonts/whitneybold-webfont.woff2') format('woff2'),
       url('./fonts/whitneybold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneybook';
  src: url('./fonts/whitneybook-webfont.woff2') format('woff2'),
       url('./fonts/whitneybook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneybookitalic';
  src: url('./fonts/whitneybookitalic-webfont.woff2') format('woff2'),
       url('./fonts/whitneybookitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneylight';
  src: url('./fonts/whitneylight-webfont.woff2') format('woff2'),
       url('./fonts/whitneylight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneylightitalic';
  src: url('./fonts/whitneylightitalic-webfont.woff2') format('woff2'),
       url('./fonts/whitneylightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneymedium';
  src: url('./fonts/whitneymedium-webfont.woff2') format('woff2'),
       url('./fonts/whitneymedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneymediumitalic';
  src: url('./fonts/whitneymediumitalic-webfont.woff2') format('woff2'),
       url('./fonts/whitneymediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneysemibold';
  src: url('./fonts/whitneysemibold-webfont.woff2') format('woff2'),
       url('./fonts/whitneysemibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'whitneysemibolditalic';
  src: url('./fonts/whitneysemibolditalic-webfont.woff2') format('woff2'),
       url('./fonts/whitneysemibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

::-webkit-scrollbar {
  display: none;
}

html.disable-high-contrast * {
  forced-color-adjust: none;
}

body {
  margin: 0;
  padding: 0;
  background: #201c1c;
  animation: scaleDown 1000ms ease;
  transform-origin: bottom;
}

@keyframes scaleDown {
  0% {
    opacity: 0;
    transform: translateY(-10em) scale(2);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

body > * {
  position: absolute;
}

#bg {
  width: 100vw;
  height: 10em;
  background: #850c8b;
  transform: translateY(-7em);

}

#pfp, .nickname, .username, .client_id, .genshin, body {
  transition: all 400ms ease;
}

#pfp {
  border-radius: 50%;
  border-style: solid;
  border-width: 6px;
  border-color: #201c1c;

  transform: translateY(1em) translateX(0.5em);
}

.circle {
  border-radius: 50%;
  transform: translateY(4.15em) translateX(3.65em);
  border-style: solid;
  border-width: 3px;
  border-color: #201c1c;
}


.nickname {
  border-radius: 8px;
  font-family: 'whitneybook';
  color: white;
  font-size: 16px;
  text-align: left;
  transform: translateY(4.5em) translateX(1em);
}

.username {
  border-radius: 8px;
  font-family: 'whitneybook';
  color: #818386;
  font-size: 14px;
  text-align: left;
  transform: translateY(6.5em) translateX(1.10em); 
}

.client_id {
  width: 75vw;
  height: 6vh;
  border: none;
  outline: none;
  transform: translateY(9.75em) translateX(0.9em);
  border-radius: .5em;
  font-family: 'whitneybook';
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  font-size: 15px;
  text-align: center; 
}

.divider {
  width: 90vw;
  transform: translateX(0.75em) translateY(8.5em);
  z-index: 0;
}

.images {
  transform: translateX(1.5em) translateY(15em);
  border-radius: 50px;
  font-family: 'whitneybold';
  text-transform: uppercase;
  color: #BBBBBB;
  font-size: 12px;
  border: none;
  resize: none;
}

.devportal {
  border-radius: 50%;
  transform: translateY(9.35em) translateX(13.35em) scale(1.05) rotateZ(0deg);
  filter: invert(0.45);
  width: 1em;
  height: 1em;
  align-items: center;
  transition: all 600ms ease;
}

.devportal:hover {
  cursor: pointer;
  transform: translateY(9.6em) translateX(13.35em) scale(1.15);
  filter: invert(1);
}

.paimon {
  transition: all 300ms ease;
  border-radius: 0.5em;
  transform: translateY(13em) translateX(1.05em);
}

.yae {
  transition: all 300ms ease;
  border-radius: 50%;
  transform: translateY(15.5em) translateX(3.8em);
}

.paimon:hover, .yae:hover {
  cursor: pointer;
  filter: brightness(0.6);
}

.genshin {
  font-family: 'whitneybold';
  color: #DCDDDE;
  font-size: 14px;
  transform: translateY(14.5em) translateX(6.05em);
  text-align: left; 
}

#name {
  outline: none;
  border: none;
  background: transparent;
}

.details {
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: transparent;
  color: white;
  font-size: 12px;
  text-align: left; 
  transform: translateY(18.4em) translateX(7.15em);
}

.state {
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: transparent;
  color: white;
  font-size: 12px;
  text-align: left; 
  transform: translateY(19.7em) translateX(7.15em);
}

.elapsed {
  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;
  font-family: 'whitneybook';
  background-color: transparent;
  color: white;
  font-size: 12px;
  text-align: left; 
  transform: translateY(21em) translateX(6.9em);
  transition: all 400ms ease;
}

.elapsed:hover {
  cursor: pointer;
  transform: translateY(21em) translateX(6.9em) scale(1.01);
}

.btnTxt1 {
  width: 85vw;
  height: 2em;
  border: 4px;
  resize: none;
  outline: none;
  border-radius: 4px;
  font-family: 'whitneybook';
  background-color: #4f545c;
  text-align: center;
  color: white;
  font-size: 14px;
  transform: translateY(20em) translateX(1.2em);
}

.btnTxt2 {
  width: 85vw;
  height: 2em;
  border: 4px;
  resize: none;
  outline: none;
  border-radius: 4px;
  font-family: 'whitneybook';
  background-color: #4f545c;
  text-align: center;
  color: white;
  font-size: 14px;
  transform: translateY(22.5em) translateX(1.2em);
}

.cog {
  transition: all 400ms ease;
}

#cog1 {
  transform: translateY(17.95em) translateX(13em);
}

#cog2 {
  transform: translateY(20.1em) translateX(13em);
}

.cog:hover {
  cursor: pointer;
}

#cog1:hover {
  filter: brightness(1.6);
  transform: translateY(17.5em) translateX(13em) scale(1.25) rotateZ(25deg);
}

#cog2:hover {
  filter: brightness(1.6);
  transform: translateY(19.9em) translateX(13em) scale(1.25) rotateZ(25deg);
}

.buttons {
  transition: all 400ms ease;
}

.buttons:hover {
  background-color: #696f79;
}

#Url1, #Url2, #paimonMenu, #smallMenu, #savesMenu, #bannerMenu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.75);
  z-index: -1;
  filter: opacity(0);
  transition: filter 400ms ease;
}

.bannerTxt {
  position: absolute;
  font-family: 'whitneybold';
  color: #DCDDDE;
  font-size: 14px;
  height: fit-content;
  text-align: center;
  transform: translateY(8em) translateX(3em);
}
#loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.9);
  z-index: 1;
  filter: opacity(1);
  transition: filter 400ms ease;
}

#save1 {
  transform:  translateY(9.5em) translateX(10vw);
}

#save2 {
  transform:  translateY(11.5em) translateX(10vw);
}

#toggleSaves {
  transition: all 400ms ease;
  transform: translateY(17.25em) translateX(20vw) scale(1);
}

#toggleSaves:hover {
  transform: translateY(17.25em) translateX(20vw) scale(1.05);
}

#closeBtn5 {
  transition: all 400ms ease;
  transform: translateY(20.25em) translateX(20vw) scale(1);
}

#closeBtn5:hover {
  transform: translateY(20.25em) translateX(20vw) scale(1.05);
}

#loadingTxt {
  text-align: center;
  transform: translateY(8em) translateX(30vw) scale(1);
}

#loading-bar {
  border-width: 0em;
  width: 0;
  opacity: 0;
  background-color: rgba(53, 56, 61, 0.5);
  transition: all 1000ms ease;
}

.URL {
  position: absolute;
  font-family: 'whitneybold';
  color: #DCDDDE;
  font-size: 14px;
  height: fit-content;
  text-align: center;
  transform: translateY(8em) translateX(6em);
}

.paimonTxt {
  transform: translateY(8em) translateX(5.5em);
}


.btnUrls {
  position: absolute;
  width: 80vw;
  height: 6vh;
  transform: translateY(9.5em) translateX(10vw);
  border: none;
  resize: none;
  outline: none;
  border-radius: 0.25em;
  border-width: 0.05em;
  border-color: rgba(255,255,255,.1);
  border-style: solid;
  font-family: 'whitneybook';
  background-color: rgba(0, 0, 0, 0.753);
  color: white;
  font-size: 15px;
  text-align: center; 
}

.closeBtn {
  position: absolute;
  transition: all 400ms ease;
  width: 60vw;
  height: 7vh;
  transform: translateY(15em) translateX(20vw) scale(1);
  color: #fff;
  background-image: linear-gradient(135deg, #eb4bce, #58085c);
  font-size: 12px;
  font-family: 'whitneybold';
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

#closeBtn3, #closeBtn4 {
  transition: all 400ms ease;
  transform: translateY(18em) translateX(20vw) scale(1);
}

#closeBtn3:hover, #closeBtn4:hover {
  transform: translateY(18em) translateX(20vw) scale(1.05);
}

.largeImgIdt, .smallImgIdt {
  transform: translateY(12em) translateX(10vw) scale(1);
}

[data-selected='true'] {
  transition: all 200ms ease;
  background-color: #35383d;
}


.closeBtn:hover{
  --btnClr: #fa14ad;
  transform: translateY(15em) translateX(20vw) scale(1.05);
  background: transparent;
  border: 0.05em solid var(--btnClr);
  color: var(--btnClr);
}

.badge {
  transform: translateX(13.75em) translateY(4em) scale(2);
  cursor: pointer;
  transition: all 400ms ease;
}

#badgeTooltipText {
  width: 30vw;
  text-align: center;
  border: none;
  resize: none;
  outline: none;
  border-radius: 0.3em;
  font-family: 'whitneybook';
  background-color: transparent;
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 12px;
  background: #0f0d0d;
  padding: 0.25em;
  z-index: 2;
}

#badgeTooltipWrapper:after {
  content: '';
  position: absolute;
  width: 0.85em;
  height: 0.85em;
  background: #0f0d0d;
  border-radius: 0.15em;
  transform: translateY(-.5em) translateX(3.75em) translateZ(-4em) rotateZ(45deg) scale(1);
}

#badgeTooltipWrapper {
  opacity: 0;
  transition: all 300ms ease;
  transform-origin: bottom;
  transform: translateX(9.75em) translateY(0.75em) scale(0);
}

.badge:hover + #badgeTooltipWrapper {
  opacity: 1;
  transform: translateX(9.75em) translateY(0.75em) scale(1);
}

.badge:hover {
  transform: translateX(13.75em) translateY(4em) scale(2.25);
}

#newUpdate {
  width: 90vw;
  height: 12.5vh;
  background-color: #0b0b0b;
  color: white;
  font-family: 'whitneybook';
  font-size: 10px;
  text-align: center;
  transform: translateX(5vw) translateY(2vh) scale(0);
  border-radius: 3vw;
  border-width: 0.05em;
  border-color: rgba(255,255,255,.1);
  border-style: solid;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.741);
  opacity: 0;
  transition: all 600ms ease;
}

#newUpdate:hover {
  background-color: #1f1f1f;
}

#newUpdate:hover > #heading {
  transform: translateX(-2em) translateY(.5em);
}

#newUpdate:hover > #sub {
  transform: translateX(-3em) translateY(.5em);
}

#newUpdate:hover > .codeIcon {
  transform: translateY(-65%) translateX(100%) scale(0.75);
  opacity: 1;
}


#click {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(-75%);
}

strong {
  font-family: 'whitneybold';
  cursor: pointer;
}

#sparkle {
  font-size: 14px;
  cursor: pointer;
}

.updateTxt {
  margin: 0;
  padding: 0;
  transform: translateY(.5em);
}

.heading {
  font-size: 12px;
}


#heading, #sub {
  transition: all 600ms ease;
}

.codeIcon {
  filter: invert(1);
  position: absolute;
  transform: translateY(-65%) translateX(100%) scale(0);
  opacity: 0;
  transition: all 600ms ease;
}

#badge2 {
  transform: translateX(12.25em) translateY(4em) scale(0);
  opacity: 0;
  cursor: pointer;
  transition: all 600ms ease;
}

#badge2:hover {
  transform: translateX(12.25em) translateY(4em) scale(2.25);
}

#updateTooltipText {
  width: 35vw;
  text-align: center;
  border: none;
  resize: none;
  outline: none;
  border-radius: 0.3em;
  font-family: 'whitneybook';
  background-color: transparent;
  text-shadow: 2px 2px 2px #0000005d;
  color: white;
  font-size: 12px;
  background: #0f0d0d;
  padding: 0.25em;
  z-index: 2;
  padding: 0.25em 0.5em;
}

#updateTooltipWrapper:after {
  content: '';
  position: absolute;
  width: 0.85em;
  height: 0.85em;
  background: #0f0d0d;
  border-radius: 0.15em;
  transform: translateY(-.5em) translateX(5.25em) translateZ(-4em) rotateZ(45deg) scale(1);
}

#updateTooltipWrapper {
  opacity: 0;
  transition: all 300ms ease;
  transform-origin: bottom;
  transform: translateX(7em) translateY(0.75em) scale(0);
}

#badge2:hover + #updateTooltipWrapper {
  opacity: 1;
  transform: translateX(7em) translateY(0.5em) scale(1);
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
  }

  .genshin, .username{
    color: #656d74;
  }

  .nickname {
    color: #202021;
  }

  #pfp, .circle {
    border-color: #fff;
  }
  
  .images {
    color: #4f5660;
  }

  .client_id {
    background-color: rgba(0, 0, 0, 0.150);
    color: rgba(100, 100, 100, 1);
    font-size: 15px;
    text-align: center; 
  }

  .btnTxt1, .btnTxt2 {
    background-color: rgba(0,0,0,.5);
    color: rgba(255,255,255,0.9);
  }

  .btnTxt1::placeholder, .btnTxt2::placeholder {
    color: rgba(255,255,255,0.5);
  }

  .btnTxt1:hover, .btnTxt2:hover {
    background-color: rgba(0,0,0,.8);
  }

  .btnTxt1:hover::placeholder, .btnTxt2:hover::placeholder {
    color: rgba(255,255,255,0.75)
  }

  .elapsed, .details, .state {
    color: rgba(0,0,0,0.8);
  }

  .btnUrls {
    background-color: rgba(0, 0, 0, 0.453);
  }
}